* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background: #13032f1f;
}
